<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ErrorProne.NET.CoreAnalyzers" version="0.3.0-beta.0" targetFramework="net471" developmentDependency="true" />
  <package id="ErrorProne.NET.Structs" version="0.3.0-beta.0" targetFramework="net471" developmentDependency="true" />
</packages>